body{
  background-color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

nav ul{

    list-style-type: none;

    display: flex;

    gap: 2rem;

    padding: 5px;

    margin: 5px;

    background-color: black;
}

nav ul li{

    background-color: green;
    padding: 1px 2px;
    transition: ease-in-out 1s;
}

main{
  margin: 2rem;
}